{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet"  href="{%  static  'css/file-upload.css'  %}">

 <br>
    <div class="card">

      <h5 class="card-header info-color text-white text-center bg-info py-4">
          <strong>Add Project</strong>
      </h5>
  
      <!--Card content-->
      <div class="card-body px-lg-5">
  
          <!-- Form -->
          <form method="post" enctype="multipart/form-data" class="text-center" style="color: #757575;">
            {% csrf_token %}
              <p>Let others know what you're working on.</p>
  
              <p>
                  <a href="/projects" target="_blank">See existing projects</a>
              </p>
  
              <div class="md-form mt-3">
                  <input type="text" id="title" name="title" placeholder="Title" class="form-control">
                  <label for="title"></label>
              </div>
  
              <div class="md-form">
                  <input type="description" name="description" id="description" placeholder="Description" class="form-control">
                  <label for="description"></label>
              </div>

              <!-- <div class="md-form">
                <input type="technology" name="technology" id="technology" placeholder="Technology" class="form-control">
                <label for="technology"></label>
              </div> -->
              <br>
              <label><strong>Technology</strong></label>
        <hr>
              <div class="form-group">
                {% for technology in form.technologies%}
                {{ technology }}
                {% endfor %}
              <div>
                <br>
            <div class="fileUpload btn btn-primary">
              <span>Upload Image</span>
              <input type="file" name="image" class="upload" />
            </div>
  
              <!-- Sign in button -->
              <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Submit</button>
  
          </form>
          <!-- Form -->
  
      </div>
  
  </div>
{% endblock %}
