{% extends 'base.html' %}
{% block page_content %} 
<br>
<h2>Register</h2>

<form method="post">
    {% csrf_token %} 
    <br>
    <div class="form-outline mb-4">
        <input type="first_name" name="first_name" class="form-control form-control-lg"
          placeholder="First Name" />
        <label class="form-label" for="first_name"></label>
    </div>
    
    <div class="form-outline mb-4">
        <input type="last_name" name="last_name" class="form-control form-control-lg"
          placeholder="Last Name" />
        <label class="form-label" for="last_name"></label>
    </div>

    <div class="form-outline mb-4">
        <input type="username" name="username" class="form-control form-control-lg"
          placeholder="Username" />
        <label class="form-label" for="username"></label>
    </div>

    <div class="form-outline mb-4">
        <input type="email" name="email" class="form-control form-control-lg"
          placeholder="Email" />
        <label class="form-label" for="email"></label>
    </div>
        
    <div class="form-outline mb-4">
        <input type="password1" name="password1" class="form-control form-control-lg"
          placeholder="Password" />
        <label class="form-label" for="password1"></label>
    </div>

    <div class="form-outline mb-4">
        <input type="password2" name="password2" class="form-control form-control-lg"
          placeholder="Confirm Password" />
        <label class="form-label" for="password2"></label>
    </div>

   <button type="submit" class="btn btn-info btn-lg" value="Register">Register</button>
</form>

<a href="{% url 'dashboard' %}">Back to dashboard</a>

{% endblock %}

