{% extends 'base.html' %}
{% load static %}
{% block page_content %} 



<div class="container p-3 my-3 bg-info text-white">
    {% if user.is_authenticated %}
    Hi, {{ user.first_name|default:user.username }}!
        <h2>Account Details</h2>
    {% endif %}
    {% if user.username %}
        <div>Username: {{user.username}}</div>
    {% endif %}
    {% if user.first_name %}
        <div>First Name: {{user.first_name}}</div>
    {% endif %}
    {% if user.last_name %}
        <div>Last Name: {{user.last_name}}</div>
    {% endif %}
    {% if user.email %} 
        <div>Email: {{user.email}}</div>
    {% endif %}
    {% if user.is_superuser %} 
        <div>Admin: Yes</div>
    {% endif %}
    <hr>
    <h4>You are currently logged in...</h4>
    <a style="color: white" href="{% url 'logout' %}">Logout</a>
    <a style="color: white" href="{% url 'password_change' %}">Change password</a>

</div>

{% endblock %}

